// START:: SASS VARIABLES
$mainColor: #398D82;
// END:: SASS VARIABLES

// START:: SASS MIXINS
@mixin boxSizing() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin backgroundSize() {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin borderRadius($br) {
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
  -o-border-radius: $br;
  border-radius: $br;
}

@mixin boxShadow($bs1, $bs2, $bs3, $bs4, $color) {
  -moz-box-shadow: $bs1 $bs2 $bs3 $bs4 $color;
  -webkit-box-shadow: $bs1 $bs2 $bs3 $bs4 $color;
  -o-box-shadow: $bs1 $bs2 $bs3 $bs4 $color;
  box-shadow: $bs1 $bs2 $bs3 $bs4 $color;
}
// END:: SASS MIXINS

// START:: GLOBAL STYLES
* {
  @include boxSizing();
}

body {
  font-family: 'Ubuntu', sans-serif;
}
// END:: GLOBAL STYLES

.page-content {
  height: 100vh;
  background: url('../pics/bg.svg');
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @include backgroundSize();
  .landing-card {
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include borderRadius(15px);
    @include boxShadow(0, 0, 15px, 10px, #3e3e3e);
    position: relative;

    .upper-bar {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px;
      color: #565656;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px 15px 0 0;
      img {
        max-width: 120px;
      }
    }

    .landing-pic {
      img {
        width: 100%;
        height: 500px;
      }
    }
    
    .landing-text {
      h2 {
        color: $mainColor;
      }
      p {
        font-size: 1.5;
        text-align: start;
        color: #414141;
      }
      .row {
        img {
          max-width: 200px;
        }
      }
    }
  }
}